html,
body {
    height: 100vh;
    width: 100vh;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    align-items: center;
    margin: 15%;
}

.title, .text, .time, .answer, #question, #answer, #timeleft {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
}

.header {
    padding: 8px 5%;
    height: 50px;
}

.carousel-caption {
    margin-bottom: 40%;
}

.bg-img {
    background-position: cover;
    margin-left: 5%;
}

#timer {
    color: #000000;
}

#qa {
width: 500px;
height: 500px;
margin-bottom: 10%;
margin-left: 40%;
color: #000000;
z-index: 5;
font-family: 
}

#timer {
    color: #000000;
}

